.roundDivs {
position: relative;
}


body {
background-color:black;
text-align:center;
margin: auto;
}

#wrapper {
margin: auto;
text-align: center;
width:600px;
}

#name {
top: 50px;
width: 200px;
height: 200px;
border-radius: 100px;
z-index:2;
text-align:center;
vertical-align:center;
background-color:maroon;
}

#work {
left: 100px;
top: -60px;
width: 200px;
height: 200px;
border-radius: 100px;
z-index:1;
text-align:center;
vertical-align:center;
background-color:green;



}
