* {
    font-family: 'Nova Square', cursive;
}

.roundDivs {
    font-size: 17pt;
    cursor: pointer;
    padding: 15px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
  /*  background:black;*/
}

body {
    background-color:#171717;
    text-align:center;
    margin: auto;
}

#slide0 {
    text-align: left;
    vertical-align: center;
/*
    color: rgb(41, 163, 163);
*/
    color: white;
}

#title {
    font-family: 'Nova Square', cursive;
    color: white;
    font-size:42pt;
    margin-top: 30px;
    text-align: center;
}

#name {
    top: 50px;
    width: 200px;
    font-size: 20pt;
    left: -100px;
    border-radius: 110px;
    z-index:2;
    text-align:center;
    vertical-align: center;
    border: 8px solid rgb(160, 12, 12);
    border: 8px solid #661C28;
}

#work {
    left: 150px;
    top: -60px;
    width: 160px;
    border-radius: 100px;
    z-index: 1;
    text-align: center;
    vertical-align: center;
    border: 8px solid #661C28;
}

#blog{
    left: 160px;
    top: -130px;
    width: 80px;
    border-radius: 190px;
    z-index: 1;
    text-align: center;
    vertical-align: center;
    border: 8px solid rgb(153, 112, 38);
    border: 8px solid #661C28;
}

#contact {
    left: 0px;
    top: -90px;
    width: 100px;
    border-radius: 100px;
    z-index: 1;
    text-align: center;
    border: 8px solid rgb(110, 114, 16);
    vertical-align: center;
    border: 8px solid #661C28;
}

.step {
/*    position:relative;*/
}

a:link{color: rgb(41, 163, 163);}
a:visited{color: rgb(41, 163, 163);}

#email {
    color: rgb(41, 163, 163);
}
