<!doctype html>
<html lang = "en">
  <head>
    <title>Parth-a Veerkar</title>
    <script src="static/first.js">
      //     <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
    </script>
    <link rel="stylesheet" href = "static/first.css" />
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div id="impress">

      <div class="step" id="slide0" data-x="0" data-y="0" data-scale="10">

        <div id="title">
          Parth-a Veerkar<br />
    <span id="myhomepage">my homepage</span>
        </div>
        <div id="name" class="roundDivs">
          <br/><br />
          About <br/> Me
        </div>
        <div id="work" class="roundDivs">
          <br/>
          <br/>

          My<br /> Work
        </div>
        <div id="contact" class="roundDivs">
          <br/>
          Find <br />Me
        </div>
        <div id="blog" class="roundDivs">
          <br/>
          Blog
        </div>
        <div id="aboutWebiste" class="roundDivs">
          ?
        </div>
      </div>
      <div class="step" id="slide1"  data-x="600" data-y="600" data-rotate-z="360">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div id="first" class="contentDiv"> </div>
        <br /> <div id="second"
                    class="contentDiv"><a href="http://twireput.appspot.com/">TwiReput</a>:<br />
          A rating system for Twitter</div>
        <br /> <div id="third"
                    class="contentDiv"><a href="http://sandman-js.appspot.com/">Sandman.js</a>
          :<br /> A custom gseture recongition JavaScript library</div>
        <br />  <div id="fourth" class="contentDiv">
          <a href="http://the-ship.appspot.com/">The Ship</a>:<br /> A not-so-technical project<br /></div>
        <div class="backDiv" id="back1">back</div>
      </div>


      <div class="step" id="slide2" data-x="-1500" data-y="-5200" data-y="30"
            >
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        <div id="first" class="contentDiv">      Hello. My name is Partha
          Veerkar.<br />      I am from Pune, India.    </div>
        <br />   <div id="second" class="contentDiv">      I am currently studying Computer Engineering<br />at <a href="http://en.wikipedia.org/wiki/Pune_Institute_of_Computer_Technology">PICT</a>, Pune.    </div>   <br /> <div id="third" class="contentDiv">      I like coding html/css, JavaScript and Python    </div>  <br />  <div id="fourth" class="contentDiv">      I also like drawing, playing video <br /> games and listening to music.    </div>
        <div class="backDiv" id="back2">back</div>
      </div>



      <div class="step" id="slide3" data-x="-9000" data-y="200" data-scale="3">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <div id="first" class="contentDiv"> You can contact me via
          e-mail:
          <span style="color:rgb(133,158,32);">partha.veerkar@gmail.com</span>

        </div>

        <br />
        <div id="second" class="contentDiv"> or follow my project group's
          work on <a href="http://www.github.com/project47"
                     >github.com/project47</a>
        </div>

        <br />
        <div id="third" class="contentDiv">or find me on:
          <br /><a href="http://www.facebook.com/parth.veerkar">facebook</a><br /><a  href="http://www.linkedin.com/in/parthaveerkar">linkedin</a>
        </div>


        <div class="backDiv" id="back3">back</div>
      </div>



      <div class="step" id="slide4" data-x="6000" data-y="-5000" data-scale="3">
        <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

        <div id="first" class="contentDiv">
          <br />
        </div>

        <br />
        <div id="second" class="contentDiv">
          I haven't quite started writing this yet
        </div>

        <br />
        <div id="third" class="contentDiv">

          <br />
        </div>
        <br />
        <div class="backDiv" id="back4">back</div>
      </div>

      <div class="step" id="slide5" data-x="0" data-y="5000"><div id="first" class="contentDiv">
          <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
          <br />This website was made using <a href="https://github.com/bartaz/impress.js/">impress.js</a>
        </div>
        <div class="backDiv" id="back5">back</div>
      </div>
 <div class="no-support-message">
        <br />
        Hey, I just met you <br />
        And this is crazy <br />
        You need a better browser <br />
        Try Chrome maybe
      </div>
    </div>
    <script type="text/javascript" src="static/impress.js"></script>
    <script>

      if( navigator.userAgent.match(/Android/i)
 || navigator.userAgent.match(/webOS/i)
 || navigator.userAgent.match(/iPhone/i)
 || navigator.userAgent.match(/iPad/i)
 || navigator.userAgent.match(/iPod/i)
 || navigator.userAgent.match(/BlackBerry/i)
 || navigator.userAgent.match(/Windows Phone/i)
 ) {
      window.location.replace("http://192.168.1.102:8080/mobile");

}
      impress().init();
    </script>
  </body>
</html>
