<!doctype html>
<html lang = "en">
  <head>
    <title>Parth-a Veerkar</title>
    <script src="static/main.js"> </script>
    <link rel="stylesheet" href = "static/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  </head>

  <body>
    <div id="container">
      <img id = "myFace" width="91px" height="75px" src = "static/myFaceToo.png" />
      <div id="header" >
        Parth-a Veerkar
        <br /> <span style="font-size:10px; text-align:left;" >&nbsp my homepage</span>
      </div>

      <div id="bodyDiv" >
        <div id="menu" >
          <ul id="menuUl">
            <li id="home" class="menuLi">Home</li>
            <li id="work" class="menuLi">My work</li>
            <li id="blog" class="menuLi">Blog</li>
            <li id="findMe" class="menuLi">Find Me</li>
          </ul>
        </div>
        <div id="content" >
          <div id="first" class="contentDiv">      Hello. My name is Partha Veerkar.<br />      I am from Pune, India.    </div>    <div id="second" class="contentDiv">      I am currently studying Computer Engineering<br />at <a href="http://en.wikipedia.org/wiki/Pune_Institute_of_Computer_Technology">PICT</a>, Pune.    </div>    <div id="third" class="contentDiv">      I like coding html/css, JavaScript and Python    </div>    <div id="fourth" class="contentDiv">      I also like drawing, playing video <br /> games and listening to music.    </div>

        </div>

      </div>
    </div>
</div>
</body>
</html>
