<!doctype html>
<html lang = "en">
  <head>
    <title>Parth-a Veerkar</title>
    <link rel="stylesheet" href = "static/main.css" />
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div class="step" id="slide0" >
      <div id="title">
        Parth-a Veerkar<br />
      </div>
      <br/>
      <div id="name" class="roundDivs">
        About Me
      </div>

      <div id="work" class="roundDivs">
        My Work
      </div>

      <div id="contact" class="roundDivs">
        Find Me
      </div>

      <div id="blog" class="roundDivs">
        Blog
      </div>

    </div>
    <script src="static/main.js"></script>
  </body>
</html>
